$color-base-font: #00cfc9;
$color-base-font-hover: #00efe9;
$color-menu-background: #008173;

$about-base-color: #008f80;

$service-operations-color: #007a6a;
$service-web-apps-color: #302e2a;
$service-web-apps-divider-color: #808080;
$service-mobile-apps-color: #c69a59;
$service-mobile-apps-divider-color: #cea563;
$service-outsourcing-color: #c69a59;

$methodology-steps-color: #bbbbbb; 
$methodology-technology-color: #808080;

$contact-background-color: #00807b;

$footer-break: 980px;
$menu-break: 800px;
$mobile-break: 400px;

$main-page-height-break: 600px;

@mixin image-div($imageAddress, $includeMobile:true, $extension:".png") {
  background-image: image-url($imageAddress + $extension);
  @if $includeMobile {
    background-image: -webkit-image-set(image_url($imageAddress + $extension) 1x, image_url($imageAddress + "@2x" + $extension) 2x);
  }
  max-width: image-width($imageAddress + $extension);
  width: 100%;
    height: image-height($imageAddress + $extension);
    background-position:center top;
  background-repeat:no-repeat; 
  background-size: contain; 
}