$color-base-font: #00cfc9;
$color-base-font-hover: #00efe9;
$color-menu-background: #008173;

$about-base-color: #008f80;

$service-web-apps-color: #302e2a;
$service-web-apps-divider-color: #808080;
$service-mobile-apps-color: #c69a59;
$service-mobile-apps-divider-color: #cea563;
$service-outsourcing-color: #007a6a;

$methodology-steps-color: #bbbbbb; 
$methodology-technology-color: #808080;

$contact-background-color: #00807b;