$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "config";
@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: Novecentosanswide-Normal;
}

a {
    color: $color-base-font;
    &:hover {
      color: $color-base-font-hover;
      text-decoration:none;
    }
}

.row {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Fonts */
.Novecentosanswide-Bold { 
  font-family: Novecentosanswide-Bold;
  font-weight: normal;
  font-style: normal;
}
.Novecentosanswide-Book { 
  font-family: Novecentosanswide-Book;
  font-weight: normal;
  font-style: normal;
}
.Novecentosanswide-DemiBold { 
  font-family: Novecentosanswide-DemiBold;
  font-weight: normal;
  font-style: normal;
}
.Novecentosanswide-Light { 
  font-family: Novecentosanswide-Light;
  font-weight: normal;
  font-style: normal;
}
.Novecentosanswide-Medium { 
  font-family: Novecentosanswide-Medium;
  font-weight: normal;
  font-style: normal;
}
.Novecentosanswide-Normal { 
  font-family: Novecentosanswide-Normal;
  font-weight: normal;
  font-style: normal;
}

.blue {
  color: #00cfc9;
}

/* Divider */
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #fff;
}

/* Menu */
#menu {
  z-index:2;
  position: fixed;
  top: 0px;
  left: -195px;
  height: 100%;
  width: 200px;
  background-color: $color-menu-background;
  @include opacity(0.8);
  
  a#menu-button {
    position: fixed;
    top: 45%;
    left: 5px;
    height: 50px;
    width: 40px;
    background-color: $color-menu-background;
    font-size: 2.5em;
  }
  
  ol {
    position: relative;
    top: 30%;
    color: #ffffff;
    counter-reset: item;
    list-style-type: none;
    
    li {
      margin-top: 1.3em;
      &:before { 
        content: counter(item) "  "; 
        counter-increment: item;
        font-size: 0.8em;
      }
    }
    
    a {
      position: relative;
      top: 1em;
      left: -10px;      
      font-family: Novecentosanswide-Bold;
      font-size: 1.3em;      
      //color: #ffffff;
    }
  }
}
