@import "config";

#services {
  .service {    
    color: #ffffff;
    position: relative;
    
    .row {
      height: 150px;
      
      .service-type {
        text-align: center;
        font-size: 3em;
      }
      a {
        display: block;
      }
      .more {
        display: block;
        padding-top: 30px;
        font-size: 0.4em;
        font-family: "chaparral-pro";
        font-style: italic;
        color: #ffffff;
      }
      hr {
        margin-top: 10px;
        margin-bottom: -1px;
        display: block; height: 1px;
        width: 400px;
      } 
      .arrow-down {
        margin: auto;
      }
      
      .service-logo {
        text-align: right;
        img {
          margin-top: 44px;
        }
      }           
    }
  }
  .services-separator {
    margin: auto;
    position: relative;
    top: 16px;
  }
  .content {
    //display:none;
  }
  
  #web-apps {
    .service {
      background-color: $service-web-apps-color;
    }
    .services-separator {
      border-top-color: $service-web-apps-color;
    }
    .content {
      text-align: center;
    
      .title {
        font-size: 2.5em;
        font-family: "chaparral-pro";
        font-style: italic;
      }
      hr {
        width: 30px;
      }
      .description {
        text-align: left;
        font-size: 1.3em;
        font-family: "chaparral-pro";
      }
      
      .divider {
        hr {
          width: 80px; 
          border-color: $service-web-apps-divider-color;
        }
        .arrow-down {
          border-top-color:  $service-web-apps-divider-color;
        }
      }
    }
  }
  #mobile-apps {
    .service {
      background-color: $service-mobile-apps-color;
    }
    .services-separator {
      border-top-color: $service-mobile-apps-color;
    }
    .content {
      img {
        margin: 0 50px 0 50px;
      }
      #description {
        margin-top: 30px;
        font-size: 1.3em;
        font-family: "chaparral-pro";
        
      }
      #applications {
        font-size: 2.2em;
        font-family: "chaparral-pro";
        font-style: italic;
      }
      .divider {
        hr {
          width: 80px; 
          border-color: $service-mobile-apps-divider-color;
        }
        .arrow-down {
          border-top-color: $service-mobile-apps-divider-color;
        }
      }
    }
  }
  #outsourcing {
    .service {
      background-color: $service-outsourcing-color;
    }
    .services-separator {
      border-top-color: $service-outsourcing-color;
    }   
  }
}
