@import "config";

#methodology {
  #why {      
    #project-management {
      font-size: 2em;
      font-family: "chaparral-pro";
      font-style: italic;
    }
    #project-management-description {
      font-size: 1.2em;
      font-family: "chaparral-pro";
    }
  }
  
  #work {
    #background-7-steps {
      background-image: image-url('background-methodology.jpg');
      background-position: center bottom;
      background-size: cover;
      height: 270px;
      text-align: center;
      margin-bottom: 50px;
      .methodology-7-img {
        @include image-div('methodology-7');
        position: relative;
        top: 32px;
        margin: auto;
      }
      span {
        position: relative;
        bottom: 0px;
        font-size: 2em;
        color: $methodology-steps-color;
      }
    }
    .steps {
      text-align:center;
      font-family: "chaparral-pro";
      font-size: 1.2em;
      margin-bottom: 10px;
      margin-top: 10px;      
      .step-img {
        padding-bottom: 20px;
        margin: auto;
      }
      .veritcal-divider {
        border: solid 1px $about-base-color;
        width: 0px;
        height: 70px;
        margin: auto;
        margin-top: 10px;
      }
    }
  }
  
  #technology{
    margin-top: 100px;
    color: $methodology-technology-color;
    #background-technology {
      background-color: #333333;
    }
    #technology-title {
      font-size: 3em;
      @media screen and (max-width: $mobile-break) {
        font-size: 2.6em;
      }
      text-align: center;
    }
    span {
      font-size: 1.2em;
    }
    hr {
      margin-top: 0px;
      border-color: $methodology-technology-color;
    }
    ul {
      list-style-type: none;
      li {
        height: 50px;
        line-height: 50px;
      }
    }
    .technology-img {
      margin-right: 30px;
      float: left;
    }
  }
  
  .methodology-step1-img{
    @include image-div('methodology-step1');
  }
  .methodology-step2-img{
    @include image-div('methodology-step2');
  }
  .methodology-step3-img{
    @include image-div('methodology-step3');
  }
  .methodology-step4-img{
    @include image-div('methodology-step4');
  }
  .methodology-step5-img{
    @include image-div('methodology-step5');
  }
  .methodology-step6-img{
    @include image-div('methodology-step6');
  }
  .methodology-step7-img{
    @include image-div('methodology-step7');
  }
  
  .technology-php-img{
    @include image-div('technology/php');
  }
  .technology-ruby-img{
    @include image-div('technology/ruby');
  }
  .technology-javascript-img{
    @include image-div('technology/javascript');
  }
  .technology-coffeescript-img{
    @include image-div('technology/coffeescript');
  }
  .technology-html5-img{
    @include image-div('technology/html5');
  }
  .technology-cpp-img{
    @include image-div('technology/cpp');
  }
  .technology-java-img{
    @include image-div('technology/java');
  }
  .technology-csharp-img{
    @include image-div('technology/csharp');
  }
  .technology-objectivec-img{
    @include image-div('technology/objectivec');
  }
  .technology-nodejs-img{
    @include image-div('technology/nodejs');
  }
  .technology-angular-img{
    @include image-div('technology/angular');
  }
  .technology-rails-img{
    @include image-div('technology/rails');
  }
  .technology-symfony-img{
    @include image-div('technology/symfony');
  }
  .technology-zend-img{
    @include image-div('technology/zend');
  }
  .technology-codeigniter-img{
    @include image-div('technology/codeigniter');
  }
  .technology-phalcon-img{
    @include image-div('technology/phalcon');
  }
  .technology-facebook-img{
    @include image-div('technology/facebook');
  }
  .technology-aspmvc-img{
    @include image-div('technology/aspmvc');
  }
  .technology-mysql-img{
    @include image-div('technology/mysql');
  }
  .technology-postgresql-img{
    @include image-div('technology/postgresql');
  }
  .technology-mongodb-img{
    @include image-div('technology/mongodb');
  }
  .technology-sqlserver-img{
    @include image-div('technology/sqlserver');
  }
  .technology-ios-img{
    @include image-div('technology/ios');
  }
  .technology-android-img{
    @include image-div('technology/android');
  }
  .technology-windows-img{
    @include image-div('technology/windows');
  }
}
