@import "config";
@import "compass/css3/opacity";

#about-header-background {
  background-image: image-url('background-main.jpg');
  background-position: center bottom;
  background-size: cover;
  position: relative;
  margin: 0 auto;
  height: 250px;
  
  #motto {
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
    font-family: "chaparral-pro";
    font-style: italic;
    hr {
      border-color: #ffffff;
    }
  }
}


#about {
  .info {
    text-align:center;
    font-size: 1.2em;
    font-family: "chaparral-pro";
    color: #000000;
  }
  
  .details {
    text-align: center;
    padding-top: 60px;    
    .name {
      color: $about-base-color;
      font-size: 2.5em;
      font-family: "chaparral-pro";
      font-style: italic;
    }
    hr {
      display: block; height: 1px;
      border: 0; border-top: 1px solid $about-base-color;      
      width: 30px;      
    }
    .about-tag-line {
      width: 70%;
      float:left;
      font-size: 1.2em;
      font-family: "chaparral-pro";
      font-style: italic;
      color: #000000;
    }
    .quotes {
      width: 15%;
      float:left;
      font-size: 5em;
      font-family: "chaparral-pro";
    }
  }
  
  .photo {
    height: 276px;
    background-repeat: no-repeat;
    background-position: center;
    .circle {
      position: relative;
      top: 138px;
      left: 60%;
      border-radius: 50%;
      width: 138px;
      height: 138px;
      background-color: $about-base-color;
      text-align: center;
      font-size: 1.2em; 
      padding-top: 30px;
      color: #ffffff; 
    }
  }
  #klaudyna {
    background-image: image-url('about-klaudyna.png');
  }
  #lukasz {
    background-image: image-url('about-lukasz.png');
  }  
  #michal {
    background-image: image-url('about-michal.png');
  }
}

#about-footer-background {
  background-image: image-url('background-about-footer.jpg');
  background-size: cover;
  position: relative;
  margin: 0 auto;
  min-height: 1000px;
  
  #footer-text {
    font-size: 4em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .row {
    margin-top: 300px;
  }
}

