@import "config";

#main-background {
  background-image: image-url('background-main.jpg');
  background-size: cover;
  position: fixed;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#main-logo {
  margin:auto;
  width: 250px;
  margin-top: 13%;
  text-align: center;
  color: #ffffff;
  @media screen and (max-width: $menu-break) {
    margin-top: 5%;
  }
  @media screen and (max-height: $main-page-height-break) {
    margin-top: 5%;
  }
  
  #main-company-name {
    color: #ffffff;
    padding-top: 30px;
    font-size: 5em;
    line-height: 0.9em;
    .coders {
      font-size: 0.75em;
    }
  }
}

#tag-line {
  display: block;
  margin:auto;
  width: 250px;
  margin-top: 8%;
  text-align: center;
  color: $color-base-font;
  font-size: 1.6em;
  font-family: "chaparral-pro";
  font-style: italic;
  @media screen and (max-width: $menu-break) {
    margin-top: 6%;
  }
  @media screen and (max-width: $mobile-break) {
    margin-top: 3%;
  }
  @media screen and (max-height: $main-page-height-break) {
    margin-top: 3%;
  }
  
  &:hover{
    text-decoration:none;
  }
  
  hr {
    margin-top: 10px;
    margin-bottom: -1px;
    display: block; height: 1px;
    border: 0; border-top: 1px solid $color-base-font; 
  }
  .arrow-down {
    border-top-color: $color-base-font;
    margin: auto;
  }
}