@import "config";

#portfolio {
  #selector {
    text-align:center;
    hr  {
      width: 350px;
    }
    .arrow-down {
      border-top-color: $about-base-color;
      margin: auto;
      margin-top: -21px;
      left: -150px;
      position: relative;
    }
    ul {
      padding: 0;
      margin: 10px auto;
      width: 400px;
      li { 
        float: left;
        list-style: none;
        display: block;
        width: 25%;
        a {
          color: #000000;
          &:hover {
            color: $about-base-color;
          }
        }   
      }
    }
  }


  #projects {
    ul{
      position: relative;
      padding: 0;
      margin: 0;
      width: 100%;
      li {   
        width: 20%;   
        float: left;
        list-style: none;
        position: relative;
        img {      
          width: 100%;  
        }
        .blackandwhite{
          position: absolute;
          top: 0;
          left: 0;      
        }
      }
    }
  }
}